<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SHIELD - Free Bootstrap 3 Theme">
    <meta name="author" content="Carlos Alvarez - Alvarez.is - blacktie.co">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title> Play Flatball--The Official Website for Pick Ultimate Frisbee!</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/icomoon.css">
    <link href="assets/css/animate-custom.css" rel="stylesheet"> -->



<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--  <script src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/modernizr.custom.js"></script> -->
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->









<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<script>
	$(function() {
	  $('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html,body').animate({
	          scrollTop: target.offset().top
	        }, 1000);
	        return false;
	      }
	    }
	  });
	});
	</script>




<style>

.modal-header {background: #2b2b2b;}



.modal-dialog {width: 900px;}











</style>










  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
  
  	<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="fa fa-shield" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#home" class="smoothScroll">Home  </a></li>
			<li> <a href="#about" class="smoothScroll"> About</a></li>
		
			<li> <a href="#team" class="smoothScroll"> Team</a></li>
			
			<li> <a href="#blog" class="smoothScroll"> User Stories</a></li>
			<li> <a href="#contact" class="smoothScroll"> Contact</a></li>
			<li> <a data-target="#signinmodal" data-toggle="modal" href="#"  >  Sign In  </a></li>
			<li> <a href="#signup"  >  Sign Up  </a></li>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>













    <!-- THE MODAL PAGE FOR SIGN IN -->






						<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Sign In</h4>
            </div>
            <div class="modal-body">
                <h3>Modal Body</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
  </div>
</div>





























  
  
		<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix" >

	  		 		<br>  <br>  <br>  <br>  <br>
	  		 		<p  style="padding-top:30px;">  Find a Flatball Game Near You!</p>
	  		 		<p>(Otherwise Known as Ultimate Frisbee)</p>
	  		 		<br>
	  		 		<br>
	  		 		<p> Scroll down to learn more!  <a href="#about" class="smoothScroll"> <span class="fa fa-chevron-down">  </span></a>
	  		</header>	    
	    </div><!-- /headerwrap -->

		
		
		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">A LITTLE ABOUT PLAYFLATBALL</h1>
				<hr>
				
				<div class="col-lg-6" style="font-size: 20px;">
					<p>Flatball is a lot of fun to play, and we want to create communities where users can connect to athletes around them.  We take all of the hassles out of planning pick-up games, allowing users to focus purely on the fun part--flatball!!  We have focused our identity around flatball-the alternative name for ultimate frisbee, to show the unique and eccentric nature of the sport.</p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6" style="font-size: 20px;">
					<p>This company has started in the past couple weeks and currently has no users whatsoever!  Hopefully that will change over time, but who knows.  Everyone at playflatball has a passion to spread the great sport of ultimate to communities all over the World.  while this company is currently based in Lewiston, ME, it hopes to spread over the East coast in general. </p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->
		








<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
					<span class="fa fa-cog fa-spin fa-3x"></span>
					<h2>Always Working</h2>
					<p>At Play-Flatball, our team is always working to ensure a pleasant user experience.  We are always trying to improve the site. </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<span class="fa fa-users fa-3x"></span>
					<h2>Large User Base</h2>
					<p>With already over 100,000 users across the nation, (hahah) Play-Flatball is becoming one of the most-used sports websites. </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<span class="fa fa-trophy fa-3x"></span>
					<h2>Fun Tournaments</h2>
					<p>Play-Flatball is proud to host monthly tournaments to teams created on the website, providing prizes like customized jerseys or discounts.  </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->






		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<div class="container" >
				<h1  style="padding-top:1px">STRETCH OUT YOUR BOUNDARIES</h1>
				<hr>
				<p>Play-Flatball puts users outside of their comfort zone, organizing games and playing ultimate at a variety of levels.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		
		
  		

		

		<!-- ==== TEAM MEMBERS ==== -->
		<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">MEET OUR AWESOME TEAM</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-3 centered">
					


					<%= image_tag  "me.jpg", :class => "img img-circle", :style => "width:120px; height:120px;"  %>
					<br>
					<h4><b>Peter Krieg</b></h4>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-facebook"></a>
					<a href="http://www.flickr.com/peterkrieg/sets" class="fa fa-flickr"></a>
					<h5>CEO, Founder </h5>
					<p>Peter has played ultimate frisbee for only two years, but has loved every bit of it.  He started this website, and the website doesn't actually function yet!!  Maybe someday..</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<%= image_tag  "usericon.png", :class => "img img-circle", :style => "width:120px; height:120px;"  %>
					<br>
					<h4><b>Employee Wanted</b></h4>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-flickr"></a>
					<h5> Lead Developer </h5>
					<p>We are looking for a lead developer for the website to implement the code needed to actually run the website.  Peter is clearly not an experienced coder so he could use some help.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<%= image_tag  "usericon.png", :class => "img img-circle", :style => "width:120px; height:120px;"  %>
					<br>
					<h4><b>Employee Wanted</b></h4>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-flickr"></a>
					<h5> Head of Business </h5>

					<p>We need someone to direct the commercial component of our website and encourage ultimate vendors to use Play-Flatball as a method of selling their product.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<%= image_tag  "usericon.png", :class => "img img-circle", :style => "width:120px; height:120px;"  %>
					<br>
					<h4><b>Employee Wanted</b></h4>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-flickr"></a>
					<h5>  Head Graphic Designer </h5>
					<p>We need someone who will design a beautiful logo for the website, and stylize the pages aesthetically and cleanly.  This is essential for our website to attract users. </p>
				</div><!-- col-lg-3 -->
				
			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 centered">
						<img class="img-responsive" src="http://www.ultimaterob.com/wp-content/uploads/2011/11/history-of-ultimate-frisbee.jpg" height="490px"  width="392px" align="">
					</div>
					<div class="col-lg-4">
						<h2>We Are Hiring!</h2>
						<p>Do you want to be one of use? Sure you want, because we are an awesome team!. Here we work hard every day to promote the sport of ultimate by connecting athletes.</p>
						<p><a class="btn btn-success">Contact Us</a></p>
					</div>					
				</div><!-- row -->
			</div>
			<br>
			<br>
		</div><!-- greywrap -->
		
		<!-- ==== SECTION DIVIDER3 -->
		<section class="section-divider textdivider divider3">
			<div class="container">
				<h1>FLATBALL IS FUN.  GET OUT THERE AND PLAY!</h1>
				<hr>
				<p>It has never been easier to start organizing pick-up games.  Join the Play-Flatball community, get out there, and start discing!</p>
			</div><!-- container -->
		</section><!-- section -->
		
		
		
		<!-- ==== BLOG ==== -->
		<div class="container" id="blog" name="blog">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">USER STORIES</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->
			
			<div class="row">
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="http://wallblog.co.uk/files/2012/07/MarissaMayer.jpg" width="80px" height="60px"></p>
						<h4>Jaye Smith</h4>
						<h5>Joined August 2013.</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>Play-Flatball Rocks!</h2>
						<p>I don't consider myself a big sports athlete at all.  Sure, I'll ocassionally play some tennis here and there, but I don't like to get competitive really.  I was skeptical when hearing about Play-Flatball, but it was so much fun playing and I met some great new friends!!</p>
						<p> I don't have to worry about when my next game is or anything, Play-Flatball does all the organizing for me.  It has been a lot of fun and the games are graet!  </p>
						<p><a href="#" class="icon icon-link"> Read More</a></p>
						<br>
					</div>
				</div><!-- /col -->
				
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="http://static1.businessinsider.com/image/518a74f469bedd6625000024/instant-mba-young-people-know-what-the-market-place-wants.jpg" width="80px" height="60px"></p>
						<h4>Jake Eddy</h4>
						<h5>Joined April 2012</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>I'm Addicted to Flatball!</h2>
						<p>I don't have time to deal with organizing pick-up games: constantly texting the buddies dealing with their schedules.  With Flatball-Now, the calendar embedded allows for easy organizing.</p>
						<p>Another bonus of this website was the sweet deals I got through vendors.  We won the interleague championship game, which allowed us to get free customized jerseys through the site!</p>
						<p><a href="#" class="icon icon-link"> Read More</a></p>
						<br>
					</div>
				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			<br>
		</div><!-- /container -->

		







		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6">
			<div class="container">
				
				<h1 >CRAFTED IN LEWISTON, MAINE</h1>
				<hr>
				<p>Bates College</p>
				<p>23 Campus Avenue</p>
				<p><a class="fa fa-twitter" href="#"></a> | <a class="fa fa-facebook" href="#"></a></p>
			</div><!-- container -->
		</section><!-- section -->
		


















		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered">THANKS FOR VISITING US</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<h3>Contact Information</h3>
					<p><span class="icon icon-home"></span> 369 Bates College, Lewisotn, ME<br/>
						<span class="icon icon-phone"></span> 339-225-0673 <br/>
						<span class="icon icon-mobile"></span> 339-225-0673 <br/>
						<span class="icon icon-envelop"></span> <a href="#"> pkrieg@bates.edu</a> <br/>
						<span class="icon icon-twitter"></span> <a href="#"> Play-Flatball </a> <br/>
						<span class="icon icon-facebook"></span> <a href="#"> Play-Flatball </a> <br/>
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Newsletter</h3>
					<p>Register to our newsletter and be updated with the latests information regarding our services, offers and much more.</p>
					<p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="inputEmail1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="text1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="text" class="form-control" id="text1" placeholder="Your Name">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-lg-10">
						      <button type="submit" class="btn btn-success">Sign in</button>
						    </div>
						  </div>
					   </form><!-- form -->
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Support Us</h3>
					<p>We really appreciate any support!  We are a growing company that is in the initial stages of development.</p>
				</div><!-- col -->

			</div><!-- row -->
		
		</div><!-- container -->

		<div id="footerwrap">
			<div class="container">
				<h4>Created by Peter Krieg - Copyright 2014</h4>
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		

	<script type="text/javascript" src="http://www.peterkrieg.com/random/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://www.peterkrieg.com/random/retina.js"></script>
	<script type="text/javascript" src="http://www.peterkrieg.com/random/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="http://www.peterkrieg.com/random/smoothscroll.js"></script>
	<script type="text/javascript" src="http://www.peterkrieg.com/random/jquery-func.js"></script>
  </body>
</html>
